extends layout
block content
    h1= "Edit Article"
    div.newarticle
        form( method="post")
            input(name="_id", type="hidden", value=article._id.toHexString())
            div
                div
                    span.label Title :
                    input(type="text", name="title", id="editArticleTitle", value = article.title)
                div
                    span.label Author :
                    input(type="text", name="author", id="editArticleAuthor", value = article.author)
                div
                    span.label Description :
                    textarea(name="description", rows=4, id="editArticleDescription", value = article.description)
                div#editArticleSubmit
                    input(type="submit", value="Update")
        a(href="/")!= "Back to Article List"