<div class="article_small">
    {{title}}
    {{author}}
    {{describe}}
    {{modified}}
    <a href="#" class="update">Update</a>
    <a href="#" class="delete">Delete</a>
    <a href="#" class="show">Show</a>
</div>