<div class="article_full">
    <strong>Title:</strong> {{title}}<br/>
    <strong>Author:</strong> {{author}}<br/>
    <strong>Description:</strong> {{describe}}<br/><br/>
     {{modified}}<br/><br/>

</div>

<a href="#" class="back"><< Back</a> | <a href="#" class="update">Update Article</a> |<a href="#" class="delete">Delete Article</a>
